.HLP-searchbar-container {
  display: grid;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 1px 2px #090909;
}
.HLP-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  border-radius: 20px;
  box-shadow: 0 2px 5px #0f0f0f;
  padding: 10px;
  height: 800px;
}
.HLP-form{
  /* display: grid;
  row-gap: 10px; */
}
.HLP-weight-container {
  position: relative;
  height: 60px;
  width: 94%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px #0f0f0f;
  display: grid;
  margin-bottom: 10px;
}
.HLP-Avail-container {
  position: relative;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  top: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.HLP-weight-label {
  position: absolute;
  font-size: 15px;
  top: 20%;
  left: 50%;
  /* width: 250px; */
  text-align: center;
  transform: translate(-50%, -50%);
}

.HLP-Avail-label {
  position: relative;
  font-size: 15px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#weight-input {
  position: absolute;
  right: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  height: 40px;
  box-shadow: 0 1px 4px #0f0f0f;
  padding: 8px;
  width: 250px;
  border-radius: 10px;
  box-sizing: border-box;
}

.HLP-btn-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition: all 5s ease;
}

.HLP-form-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.HLP-form-btn:hover {
  border: 1px solid white;
}

.HLP-form-btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.dimension-container{
  display: flex;
  box-shadow: 0 2px 4px #0f0f0f;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  
}

.length,.breadth{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
  padding: 10px;
  
}
.length > input ,
.breadth > input {
  border: none;
  box-shadow: 0 1px 4px #0f0f0f;
}