.leaflet-routing-container {
    display: none;
}


.BusRoute-Navigation-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.location-input-container {
    background: #f3d5ac;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
}
.input-container {
    display: flex;
    column-gap: 20px;
    border: solid 0.5px #706e6e;
    align-items: center;
    padding: 5px 10px ;
    border-radius: 5px;
    height: 50px;
    padding-top: 15px;
}
.input-container select{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #9b9a9a;
}

/* #start-location option:hover {
    
background: #d9b5b5;
}
#dest-location option:hover {
    
background: #d9b5b5;
} */
@media screen and (min-width:720px) {
    .location-input-container{
        flex-direction: row;
        column-gap: 10px;
        /* display: none; */
    }
} 